body {
    background-color: black;
    color: white;
}

img {
    border: 5px solid white;
}

div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

img {
    width: 100%;
    margin-top: 50px;
}

h1 {
    text-transform: uppercase;
}